@import "https://fonts.googleapis.com/css?family=Josefin Sans";
html,
body {
  font-family: Josefin Sans;
  background-image:url("/img/maarten-deckers-8RU1Ei3KcPw-unsplash.jpg");
  color: white; /*white*/
  font-weight: 300;
  font-size: 20px;
  height: auto;
  width:100%;
  float:right;
  text-decoration: none;
}

p{
  font-size: 90%;
  line-height: 1.5;
  text-align: justify;
  color:white;
  text-decoration: none;
  text-shadow: 4px 4px 9px hotpink; /*hotpink*/
  padding:0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
 }
h1{
  color: white; /*white*/
  text-shadow: 2px 2px 6px hotpink; /*hotpink*/
   margin-left:36%;
  }
  h2{
    text-align: center;
    align-items: center;
    margin-top: 0px;
    color: whitesmoke; /*whitesmoke*/
    text-shadow: 2px 2px 6px hotpink; /*hotpink*/
    text-decoration: none;
    }
h3{
  margin:10px;
  text-align:center;
  color: black; /*black*/
  text-shadow: 0 0 5px #99a644; /*green*/
  text-decoration: none;
  }
  
  li{
    list-style:none;
    }
    h4{
      text-align: center;
      color: black; /*black*/
      text-shadow: 0 0 5px #99a644; /*green*/
      text-decoration: none;
      }
/*-------- HEADER -----------*/
nav {
  background-color: teal; /*teal*/
  width: 100%;
  margin-left: -7.px;
  display: inline-block;
  height: 165px;
}
ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  margin-top: 2%;
}
nav ul li {
  opacity: 1;
  padding-top: 2px;
  width: 14%;
  height: 10px;
  float: left;
}
#sakat{
  all:unset;
}
nav ul li a {
  text-decoration: none;
  color: white; /*brown*/
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}
 
nav li a img{
  margin-top:auto;
  width: 200px;
  margin-top: -120px;
}
img {
  margin-left: 30px;
  max-width: 120px;
  max-height: 120px;
  margin-top: -20px;
  }
/*------- //HEADER ----------*/

/*-------- MAIN -------------*/
p{
  font-size: 90%;
  line-height: 1.7;
  text-align:center;
  text-decoration:none;
}
section ul li p,
section ul li a,
section ul li h1 {
  background-size: 80px;
  padding: 0;
  text-decoration: none;
  color:white;
  text-shadow: 2px 4px black;
  margin: 7;
}
#overmain {
  list-style-type: none;
  color: white;
  text-align: center;
  padding-bottom: 4%;
}
.body {
  background-color:none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width:50px;
}
/*everything*/

body {
  counter-reset: cats;
  font-family: sans-serif;
}
.container {
  display: inline-block;
  margin-top:-0px;
}
input {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
input:checked {
  counter-increment: cats;
}
label {
  position: relative;
  display: inline-block;
  height: 250px;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5em 0.4em;
  box-sizing: border-box;
  color: transparent;
  margin-bottom: 10px;
  margin-right: 12px;
  margin-left:80px;
  width: calc(25% - 9px);
}
label:nth-of-type(4n+4) {
  margin-right: 0;
}
  label::before {
    content: '';
    display: none;
    background-image: inherit;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }
  label::after {
    content: '';
    display: none;
    background: #111;
    position: absolute;
    width: calc(100% - 0.5em);
    height: calc(100% - 0.5em);
    top: 0;
    left: 0;
    margin: 0.25em;
    z-index: -1;
  }
input:checked + label {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input:checked + label::before,
input:checked + label::after {
  display: block;
}
input:checked + label img {
  -webkit-filter: none;
  filter: none;
}

.cats-adopted::after {
  content: counter(cats);
}

label[for="boomer"] {
  background-image: url("/img/Boomer.jpg");
  background-size: cover;
  height:360px;
}
label[for="chula"] {
  background-image: url("/img/Chula.jpg");
  background-size: cover;
  height:360px;
}
label[for="meeko"] {
  background-image: url("/img/Meeko.jpg");
  background-size: cover;
  height:360px;
}
label[for="reba"] {
  background-image: url("/img/Reba.jpg");
  background-size: cover;
  height:360px;
}
label[for="sable"] {
  background-image:url("/img/Sable.jpg");
  background-size: cover;
  height:360px;
}
label[for="simba"] {
  background-image: url("/img/Simba.jpg");
  background-size: cover;
  height:360px;
}
/*-------- //MAIN -----------*/

/*-------- FOOTER -----------*/
footer{
  float:left;
  height: 90px;
  width: 100%;
  color:white;
  padding: 40px 20px;
  background-color: teal;
  text-decoration:none;
}

.footer-column{
  float: left;
  width: 200px;
  text-align: center;
  text-decoration:none;
}

.footer-nav-title{
  font-size: 16px;
  font-weight: bold;
  margin:0;
  color:white;
  text-shadow: 3px 3px 9px hotpink;
}

.newsletter-container{
  float: right;
  width: 450px;
}

.form-input-container{
  float: left;
  width: 100%;
}

.newsletter-input{
  width: 70%;
  height: 25px;
}

.newsletter-button{
  margin-top: 5px;
  width: 18%;
  height: 25px;
}

.form-input-container{
  margin-top: 40px;
  float:right;
}

.social-footer {
padding: 1rem;
background: #8a8a8a;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
margin-right: 0;
}

.social-footer .social-footer-icons .fa {
font-size: 1.3rem;
color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
color: #4a4a4a;
transition: color 0.3s ease-in;
}
