@import "https://fonts.googleapis.com/css?family=Josefin Sans";
html,
body {
  font-family: Josefin Sans;
  background-color: black;
  color: #3e4546; /*gray*/
  font-weight: 300;
  font-size: 20px;
  overflow-x: hidden;
  height: auto;
}
p{
  font-size: 90%;
  line-height: 1.5;
}

h3{
  color: #99a644; /*green*/
  text-shadow: 0 0 1px #99a644; /*green*/
}

/*-------- HEADER -----------*/
nav {
  background-color: teal; /*teal*/
  width: 100%;
  margin-left: -7.px;
  display: inline-block;
  height: 165px;
}
ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  margin-top: 2%;
}
nav ul li {
  opacity: 1;
  padding-top: 0;
  width: 14%;
  height: 10px;
  float: left;
}
#sakat{
  all:unset;
}
nav ul li a {
  text-decoration: none;
  color: white; /*brown*/
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}
 
nav li a img{
  margin-top:auto;
  width: 200px;
  margin-top: -120px;
}
img {
  margin-left: 30px;
  max-width: 120px;
  max-height: 120px;
  }
/*------- //HEADER ----------*/

/*-------- MAIN -------------*/
section ul li p,
section ul li a,
section ul li h1 {
  background-size: 80px;
    padding: 0;
  text-decoration: none;
  color:white;
  text-shadow: 2px 4px black;
  margin: 0;
}
.smain {
  background-image: url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
  margin-top: 2%;
}
#overmain {
  list-style-type: none;
  color: black;
  text-align: center;
  padding-bottom: 4%;
}
.body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20%;
}
*{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;

  background-color: teal;
}
.main{
  color: whitesmoke;

  font-family: cursive;

  text-align: center;
}
.blur-img{
  background-image: url("./img/teal\ coffee\ bg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  margin-top:20px;
  height: 600px;
  max-width: 100%;
}
.main-nav{
  background-color: black;

  opacity: 0.65;

  text-align: center;

  font-size: 30px;
  font-family: 'Pacifico', cursive;

  height: 70px;

  word-spacing: 30px;
}
.main-nav ul{
  margin: 0;
  padding: 0;

  height: 50px;

  display: inline;
}
.main-nav li{
  display: inline-block;
  list-style: none;

  padding: 10px 20px 20px 25px;
}
.main-nav a{
  color: whitesmoke;

  text-decoration: none;
}
.main-nav li:hover{
  background-color: #ffffff;
  color: black;

  cursor: pointer;

  transform: scale(0.95);
}
.main-body{
  text-align: center;

  padding: 100px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3.5%;

  font-family: 'Syne Mono', cursive;
  font-size: 38px;
  font-weight: bold;
  
  color: beige;
}
.main-body h1{
  margin: 0%;
  padding: 0%;

  font-size: 140px;
  font-family: 'Grenze Gotisch', cursive;

  color: rgba(255, 255, 255, 1); 

  text-shadow: 5px 5px black;
}
.main-body p{
  color: rgba(255, 255, 255, 1);

  text-shadow: 3px 1px black;

  /*padding: 30px;*/
}
.main-body h1:hover{
  cursor: pointer;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.background{
  filter: blur(4px);
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
.foreground{
  backdrop-filter: blur(4px);

  box-sizing: border-box;

  border: rgb(190, 186, 186) 6px double;
}
.bg-img{
  background: url("./img/nathan-dumlao-ikU3J1nr52w-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  max-width: 100%;
  height: max-content;
}
.background-menu{
  filter: blur(5px);
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
.foreground-menu{
  backdrop-filter: blur(10px);
}
.container{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

  max-width: 100%;
  max-height: 80%;
}
.menu-heading{
  color: whitesmoke;

  padding: 0px;
  margin: 0%;

  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 30px;

  text-align: center;
  text-shadow: 2px 0.5px rgb(0, 0, 0);

  box-sizing: border-box;
}
.section-header{
  text-align: center;

  padding: 20px;

  color: rgb(248, 242, 242);

  font-family: 'Satisfy', cursive;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 3px;
}
.section-header:hover{
  cursor: pointer;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th,td{
  text-align: left;
  padding: 15px;

  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

td{
  color: whitesmoke;
}
th{
  text-shadow: 1px 1px whitesmoke;
  font-size: 25px;
}
.tr-header{
  background-color: rgb(194, 190, 190);
  color: black;

  text-shadow: 2px white;
}
.tr-header:hover{
  cursor: pointer;
}
tr:hover{
  background-color: rgb(194, 190, 190);
}
td:hover{
  color: black;
}
.text-left{
  color: whitesmoke;

  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
.menu-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.mb{ margin-bottom: 0; }
img { 
  max-width: 100%; 
  border: 5px solid white;
  border-radius: 50%;
}
img:hover{
  box-shadow: 0 0 10px whitesmoke;
}
figure { margin: 10px; }
figcaption { text-align: center; }
figcaption span{
  align-items: center;
  margin-right: 50px;
  display: block;
  color:whitesmoke;
  font-size: 25px;
  width:100%;
}
.item-name{
  margin-top: 20px;
  margin-bottom: 10px;
}
.special-items{
  display: flex;
  margin-left: 80px;
  margin-right: 15px;
}
.special-item{
  padding-left: 15px;
  padding-right: 15px;
  width:400px;
}
hr{
  width: 30%;
  background-origin: 0.5px solid #ccc;
}
.menu-section-small p{
  color: white;

  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 500;
}
/*-------- //MAIN -----------*/

/*-------- FOOTER -----------*/
footer{
  float:left;
  height: 90px;
  width: 100%;
  color:white;
  padding: 40px 40px;
  background-color: teal;
  text-decoration:none;
}

.footer-column{
  float: left;
  width: 200px;
  text-align: center;
  text-decoration:none;
}

.footer-nav-title{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.newsletter-container{
  float: right;
  width: 450px;
}

.form-input-container{
  float: left;
  width: 100%;
}

.newsletter-input{
  width: 70%;
  height: 25px;
}

.newsletter-button{
  width: 18%;
  height: 25px;
}

.form-input-container{
  margin-top: 20px;
}

.social-footer {
padding: 1rem;
background: #8a8a8a;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
margin-right: 0;
}

.social-footer .social-footer-icons .fa {
font-size: 1.3rem;
color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
color: #4a4a4a;
transition: color 0.3s ease-in;
}

